html {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

body {
  font-family: $font-body;
  background-color: $color-background-body;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
