%logo-style {
  text-decoration: none;
  font-family: $font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  @extend %logo-style;
  color: $color-logo;
}
.logo__studio {
  @extend %logo-style;
  color: $color-studio;
}
.logo__foot {
  @extend %logo-style;
  color: $color-studio-foot;
}
