$color-logo: #2196f3;
$color-studio: #000000;
$color-studio-foot: #ffffff;
$font-logo: Raleway, sans-serif;

.logo {
  text-decoration: none;
  font-family: $font-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $color-logo;

  .logo__studio {
    color: $color-studio;
  }
}
.logo__foot {
  @extend .logo;
  color: $color-studio-foot;
}
