$color-background-body: #ffffff;
$color-text-hover-focus: #2196f3;
$color-btn-hover-focus: #757575;
$color-logo: #2196f3;
$color-logo-studio: #000000;
$color-logo-studio-foot: #ffffff;
$color-background-main: #c4c4c4;
$text-color-par: #757575;
$color-backround-footer: #2f303a;
$color-background-team: #f5f4fa;
$color-backgroung-btn: #2196f3;
$color-background-header: #ffffff;
$color-link-active: #757575;
$color-team-position: #757575;
$text-color-link: #212121;
$text-color-contacts: #757575;
$text-color-main: #ffffff;
$text-color-button: #ffffff;
$text-color-foot-address: #ffffff;
$text-color-foot-contacts: rgba(255, 255, 255, 0.6);
$text-filter: #212121;
$bakground-btn-filter: #f5f4fa;
$text-portfolio-product: #757575;
$backgroun-color-services: #ffffff;
$color-background-icon: #f5f4fa;

/* Переменные шрифты*/
$font: roboto, sans-serif;
