/* Переменные шрифты*/

$font: raleway, sans-serif;
$font-body: roboto, sans-serif;

$text-color-par: #757575;
$color-background-icon: #f5f4fa;
$color-backround-footer: #2f303a;
$text-color-foot-contacts: rgba(255, 255, 255, 0.6);
$text-color-foot-address: #ffffff;
$color-background-header: #ffffff;
$color-active-page: #2196f3;
$border-color: #2196f3;
$color-link-hover-focus: #2196f3;
$text-color-contacts: #757575;
$color-logo: #2196f3;
$color-studio: #000000;
$color-studio-foot: #ffffff;
$background-main: #c4c4c4;
$color-link-active: #757575;
$text-color-link: #212121;
$backgroun-color-services: #ffffff;
$color-label: #757575;
$color-text-hover-focus: #2196f3;
$text-filter: #212121;
$bakground-btn-filter: #f5f4fa;
$color-text-link: #212121;
$text-portfolio-product: #757575;
$color-background-team: #f5f4fa;
$color-team-position: #757575;
$color-backgroung-btn: #2196f3;
$text-color-main: #ffffff;
$text-color-button: #ffffff;
$color-background-body: #ffffff;
